header{
	display: grid;
	background: black;
	/*position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;*/
	grid-template-columns: 1fr 1fr 1fr;
	color: white;
	border-bottom: 1px solid gray;
	padding: 25px;
	grid-template-areas: 
	"logo menu .";
}

.fixed-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

.dropdown{
	display: none;
	font-size: 26px;
}

.dropdown:hover {
	cursor: pointer;
}

.test-logo{
	margin: auto;
	margin-left: 25px;
	font-weight: bold;
	text-transform: uppercase;
	grid-area: logo;
}

.menu {
	width: 500px;
	margin: auto;
	display: flex;
	list-style: none;
	justify-content: space-around;
	grid-area: menu;
}



a {
	text-decoration: none;
	color: inherit;
	
}

.menu a:hover {
	color: lightgray;
}


@media screen and (max-width: 900px) {
	header {
		min-height: 50px;
		padding: 0;
		border-radius: 0;
		grid-template-areas: 
		"logo logo icon"
		"menu menu menu";
		/*justify-content: center;  */
		justify-items: center;
	}

	.test-logo {
		margin: auto;
		margin-left: 25px;
		padding: 15px;
	}

	.dropdown{
		margin: auto;
		display: block;
		
		grid-area: icon;
	}

	.menu {

		width: auto;
		display: none;
		
	}

	.menu-dropped {
		display: flex;
		flex-direction: column;
		align-items: center;
		background: #303030;
		margin: 0;
		padding: 0;

		/*margin-top: 25px;*/
		width: 100%;
		animation: 500ms dropdownMenu;	
		padding-bottom: 20px;
	}

	.menu-dropped li {
		padding-top: 20px;
	}

	@keyframes dropdownMenu {
		from {opacity: 0; height: 0;} to {opacity: 1; height: 175px; }
	}

}