.item {
	display: grid;
	grid-template-columns: 5fr 1fr 1fr 1fr;
	grid-template-areas: 
	"name name edit delete";

	max-width: 600px;
	margin: auto;
	padding: 10px;
	animation-name: dropdown;
	animation-duration: 250ms;
	opacity: 1;
	animation-timing-function: linear;
}

@keyframes dropdown {
	from { margin-top: -50px; opacity: 0;} to {margin-top: 0; opacity: 1;}
}

.item div {
	grid-area: name;
	padding: 10px;
	max-width: 600px;
	text-align: left;
	cursor: pointer;
}

.delete-item {
	grid-area: delete;
}

.delete-item, .edit-button, .edit-submit {
	padding: 10px;
	cursor: pointer;
	opacity: 0.5;
	color: inherit;
	transition: all 500ms;
}

.delete-item:hover {
	color: crimson;
	opacity: 1;
	transition: all 500ms;
}

.edit-button:hover {
	opacity: 1;
	transition: all 500ms;
}

.edit-submit:hover {
	opacity: 1;
	color: green;
	transition: all 500ms;
}

.deleting-item {
	opacity: 0;
	transition: opacity 250ms;
}

.item-hover {
	background-color: red;
}

.edit {
	grid-area: edit;
	display: flex;
	justify-content: flex-end;
}


.item input {
	max-width: 175px;
	color: gray;
	opacity: 1;
	animation-name: dropout;
	animation-duration: 250ms;
}

.item input:focus {
	color: black;
}

.clicked-item {
	text-decoration: line-through;
	color: lightgray;
}

@keyframes dropout {
	from { margin-left: -100px; opacity: 0;} to {margin-left: 0; opacity: 1;}
}

@media screen and (max-width: 600px) {
	.item {
		animation: none;
	}
	.item input {
		max-width: 150px;
	}

}