html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Muli', Tahoma, sans-serif;
	font-size: 20px;
	padding: 0;
	margin: 0;
	width: 100%;
	min-height: 100vh;
	background: #303030;
	color: white;
	position: relative;
}

.loaded {
	display: none;
	animation-name: loadingContent;
	animation-duration: 250ms;
}

@keyframes loadingContent {
	from {opacity: 0} to {opacity: 1}
}

.loading {
	position: absolute;
	top: 0;
	bottom: 0;
	text-align: center;
	width: 100%;
	height: 50px;
	margin: auto 0;
	animation-name: 
}



footer {
	left: 0;
	right: 0;
	bottom: 0;
	background: black;
	color: white;
	padding: 15px;
	margin: auto;
}

h1 {
	font-size: 36px;

}


#about, #contacts, #products {
	text-align: center;
	border-bottom: 1px solid gray;
}

.contact-items {
	display: flex;
	justify-content: center;
}

.contact-items div {
	margin: 20px;
	margin-top: 0;
	font-size: 18px;
}

.google-map {
	width: 100%;
	height: 50vh;
	min-height: 300px;
	max-height: 800px;
	margin: auto;  
	border:0;
}


input {
	font-family: 'Muli', Tahoma, sans-serif;
	font-size: 20px;
	padding: 5px;
	margin: 5px;
}

#formTask {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
	"text text"
}

#formTask input {
	border:none;
}

.button-task {
	background: lightgray;
	cursor: pointer;
}

#submitTask:hover {
	background: green;
	color: white;
}

#clearTask:hover {
	background: crimson;
	color: white;
}

#textInput {
	grid-area: text;
	opacity: 1;
}

@media screen and (max-width: 900px) {
	.contact-items {
		flex-direction: column;
	}

	.contact-items p {
		margin: 0;
		margin-bottom: 10px;
		/*padding: 0;*/
	}
}


