body {
	font-family: 'Muli', Tahoma, sans-serif;
	font-size: 20px;
	padding: 0;
	margin: 0;
	width: 100%;
	min-height: 100vh;
	background: #303030;
	color: white;
}

footer {
	left: 0;
	right: 0;
	bottom: 0;
	background: black;
	color: white;
	padding: 15px;
	margin: auto;
}

h1 {
	font-size: 24px;
}


#about, #contacts, #products {
	text-align: center;
	border-bottom: 1px solid gray;
}

.google-map {
	width: 100%;
	height: 50vh;
	max-height: 800px;
	margin: auto;  
	border:0;
}


input {
	font-family: 'Muli', Tahoma, sans-serif;
	font-size: 20px;
	padding: 5px;
	margin: 5px;
}

#formTask {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
	"text text"
}

#formTask input {
	/*background-color: rgba(211, 211, 211, 0.5);*/
	border:none;
}

.button-task {
	background: lightgray;
	cursor: pointer;
}

#submitTask:hover {
	background: lightgreen;
	color: white;
}

#clearTask:hover {
	background: crimson;
	color: white;
}

#textInput {
	grid-area: text;
	opacity: 1;
}

#textInput:focus {
	
}
